* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "GeistMono Nerd Font Mono";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #14213d;
}

.calculator {
  background: rgba(10, 130, 228, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 24px;
  border-radius: 36px;
}

.display {
  background-color: rgb(7, 33, 57);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 16px;
  border-radius: 16px;
  text-align: right;
  margin-bottom: 16px;
}

.result {
  font-size: 3rem;
  color: #fefae0;
}

.history {
  font-size: 1.4rem;
  color: #b1b0aa;
  margin-bottom: 12px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 1.4rem 2.6rem;
  border-radius: 16px;
  color: white;
  font-size: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  transition: all 0.15s ease;
}

button:active {
  transform: scale(0.95);
}

.num-zero {
  grid-column: span 2;
}

.num-btn {
  background-color: rgb(11, 41, 69);
}

.num-btn:hover {
  background-color: rgba(11, 41, 69, 0.2);
  border: 1px solid rgb(51, 121, 213);
}

.op-btn {
  background-color: #2a76a6;
}

.op-btn:hover {
  background-color: #4096cc;
  border: 1px solid rgb(147, 210, 255);
}

.eq-btn {
  background-color: rgb(14, 188, 130);
}

.eq-btn:hover {
  background-color: rgb(52, 184, 140);
  border: 1px solid rgb(170, 255, 228);
}

.del-btn,
.clr-btn {
  background-color: rgb(147, 51, 51);
}

.del-btn:hover,
.clr-btn:hover {
  background-color: rgb(154, 66, 66);
  border: 1px solid rgb(255, 139, 139);
}
